@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

.box-sobremi-carrusel {
  margin: 0 0 1em;
}

.sobremi-content {
  width: 70%;
  margin: 3em auto;
}