<div class="box-sobremi">
  <header>
    <app-menu></app-menu>
  </header>

  <section>
    <div class="sobremi-content">
      <div class="sobremi-content__logo">
        <img src="{{text.rutasImg.logo.ruta}}" alt="">
      </div>

      <div class="sobremi-content__titulo">
        <h1>{{text.textos.titulo}}</h1>
      </div>

      <div class="sobremi-content__parrafo">
        <p>{{text.textos.parrafo1}}</p>
        <p>{{text.textos.parrafo2}}</p>
        <p>{{text.textos.parrafo3}}</p>
        <p>{{text.textos.parrafo4}}</p>
        <p>{{text.textos.parrafo5}}</p>
      </div>

      <div class="sobremi-content__carrusel">
        <app-carrusel [imgList]="list_imagenes"></app-carrusel>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
