@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

footer {
  background-color: $text-color-dark1;
  display: flex;
  flex-direction: column;
  color: $text-color-ligth1;
  font-size: 14px;
  width: 80% auto;
}

.footer {
  width: 80%;
  margin: auto;
  margin-bottom: 18px;

  &__line {
    margin: 1em 0;
    border-top-color: $text-color-ligth2;
    border-width: 2px;
    opacity: 0.5;
  }

  &__texts p{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 14px;
    text-align: center;

    @include laptor{
      font-size: 18px;
    }

    @include desktop{
      font-size: 22px;
    }
  }
  
  &__icons {
    display: flex;
    justify-content: center;
  }

  &__circle {
     margin: 2em 0 1.7em;    
 
     @include laptor{
      margin: 2em 0 2em; 
     }
 
     @include desktop{
      margin: 2.5em 0 2em; 
     }

    & a{
        background-color: $background-color-ligth2;
        color:  $text-color-dark1;
        margin-right: 10px;
        padding: .5rem;
        border-radius: 100%;
        font-size: 20px;
        text-align: center;

        @include desktop{
          padding: 1rem;
          font-size: 22px;
        }
    }

    &>.icon-linkedin:hover {
      color: #fff;
      background-color: #007bb6;
      border-radius: 100%;
    }

    &>.icon-email:hover {
      color: #fff;
      background-color: #D54B3D;
      border-radius: 100%;
    }

    &>.icon-github:hover {
      color: #fff;
      background-color: rgb(118, 119, 119);
      border-radius: 100%;
    }

  }


}
