<footer>
  <div class="footer">
    <hr class="footer__line">
    <div class="footer__texts"><p>Desarrollador de sofware, entrenador de fútbol y triatleta.</p></div>
    <div class="footer__icons">
      <div class="footer__circle">
        <a class="icon-linkedin" href="https://www.linkedin.com/in/santiago-simarro-lópez-544327134" target="_blank"><i
            class="fa fa-linkedin fa-lg"></i></a>
      </div>
      <div class="footer__circle">
        <a class="icon-email" href="mailto:santiago.simarro.lopez@gmail.com" target="_blank"><i
            class="fa fa-envelope fa-lg"></i></a>

      </div>
      <div class="footer__circle">
        <a class="icon-github" href="https://github.com/santiyus" target="_blank"><i class="fa fa-github fa-lg"></i></a>

      </div>

    </div>
  </div>
