@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";


.box-inicio {
  // background-color: $fondo-comun;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  min-height: 100vh;
  // box-sizing: border-box;

  &-carrusel {
    margin: 0 0 1em;
  }

}

.inicio__line {
  width: 80%;
  margin: auto;
  border-top-color: $text-color-dark1;
  border-width: 2px;
  opacity: 0.5;
}


.inicio-content {
  width: 90%;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @include laptor {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 21px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    justify-content: space-between;

    @include laptor {
      width: 40%;
      justify-content: space-between;
    }

    & img {
      width: 170px;
      height: 180px;

      @include tablet {
        width: 230px;
        height: 240px;
      }

    }
  }

  & h2 {
    margin-top: .4em;
    font-size: 21px;

    @include laptor {
      font-size: 25px;
    }


  }

  & p {
    font-size: 18px;

    @include laptor {
      font-size: 20px;
    }

  }

  & a {
    font-size: 18px;
    text-decoration: none;
    color: $text-color-descubre-mas;

    @include laptor {
      font-size: 20px;

      &:hover {
        font-weight: bold;
      }
    }
  }

}
