@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

.fondo-portada {
  background-image: url('/../../../assets/img/fondo_portada.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 1em 0 0 .5em;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &-item {
    color: $text-color-ligth1;
    font-weight: bold;
    justify-content: center ;
    margin: 0;
    font-size: 3em;

    @include tablet{
      margin: 0 0 0 .2em;
      font-size: 3.6em;    
    }
    @include laptor{
      margin: 0 0 0 .21em;
      font-size: 7em;  
      
    }
    @include desktop{
      margin: 0 0 0 .7em;
      font-size: 9em;  
      
    }
  }

  &-btn {    
    justify-content: center ; 
    margin: 0 auto;
    margin-top: .4em;
    padding: 3px;
    font-size: 9px;
    
    @include tablet{
      margin-left: 5.0m;
      font-size: 20px;   
    }

    @include laptor{
      margin-left: 8em;
      font-size: 25px;
    }

    @include desktop{
      margin-left: 11.4em;
      font-size: 28px;
    }
  }

}
