@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

.fondo-portada {
  background-image: url('/../../../assets/img/fondo_portada.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 1em 0 0 1em;
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &-item {
    color: $text-color-ligth1;
    font-weight: bold;
    justify-content: center ;
    margin: 0;
    font-size: 2em;

    @include tablet{
      font-size: 4em;    
    }
    @include laptor{
      font-size: 7em;  
      
    }
    @include desktop{
      font-size: 10em;  
      
    }
  }

  &-btn {    
    justify-content: center ; 
    margin: 0 auto;
    margin-top: .4em;
    padding: 3px ;
    font-size: 8px;
  }

}
