:root {
    --primary-color: #3f95ea;
    --secondary-color: #52d3aa;
    --danger-color: #ff3c32;

    --background-color-ligth1: #222;
    --background-color-ligth2:  #222;
    --background-color-ligth1: #2a2c30;
    --background-color-ligth2:  #424852;

    --text-color-ligth1:  #bdbdbd;
    --text-color-ligth2: #222;
    --text-color-dark1: #222;
    --text-color-dark2: #222;

    
    --linkedin-color: #007bb6;
    --email-color: #D54B3D;
    --github-color: rgb(118, 119, 119);
  }
  
  $primary-color: var(--primary-color);
  $secondary-color: var(--secondary-color);
  $danger-color: var(--danger-color);
  
  $background-color-ligth1: var(--background-color-ligth1);
  $background-color-ligth2: var(--background-color-ligth2);
  $background-color-dark1: var(--background-color-dark1);
  $background-color-dark2: var(--background-color-dark2);

  $text-color-ligth1: var(--text-color-ligth1);
  $text-color-ligth2: var(--text-color-ligth2);
  $text-color-dark1: var(--text-color-dark1);
  $text-color-dark2: var(--text-color-dark2);
  
  $linkedin-color: var(--linkedin-color);
  $email-color: var(--email-color);
  $github-color: var(--github-color);