@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";


.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    height: 100vh;
}