<div div class="cv-component">
  <app-menu></app-menu>

  <section class="cv">

    <div class="cabecera_img">
      <img src="{{text.rutasImg.logo.ruta}}" alt="">
    </div>

    <div class="cv__item">
      <div class="cv__title">
        <h4>{{text.habilidades_titulo}}</h4>
        <hr class="cv__line">
      </div>
      <div class="cv__habilidades">
        <div *ngFor="let i of text.habilidades">
          <p>{{i}}</p>
        </div>
      </div>
    </div>

    <div class="cv__item">
      <div class="cv__title">
        <h4>{{text.formacion_academica}}</h4>
        <hr class="cv__line">
      </div>
      <div class="cv__formacion">
        <div *ngFor="let i of text.formacion">
          <p>{{i.anios}}: <b>{{i.titulo}}</b> - {{i.lugar}}.</p>
        </div>
      </div>
    </div>

    <div class="cv__item">
      <div class="cv__title">
        <h4>{{text.experiencia_pro}}</h4>
        <hr class="cv__line">
      </div>
      <div class="cv__experiencia" *ngFor="let i of text.experiencia">
        <p><b>{{i.anio}}</b>: {{i.puesto}} </p>
      </div>
    </div>

    <div class="cv__boxbtn">
      <p>{{text.parrafo_descarga}}</p>
      <!-- <button class="btn cv__boxbtn-btn" type="submit">{{text.descargar}}</button> -->
      <a class="btn cv__boxbtn-btn" href="{{text.cvpdf.ruta}}" download="{{text.cvpdf.nombre}}">
        {{text.descargar}}
        </a>
    </div>

  </section>

  <app-footer></app-footer>
</div>
