@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

$width:35px;
$height:3.3px;

body {
  margin: 0;
}

.top-bar {
  background-color: $text-color-dark1;

  @include tablet {
    display: none;
  }

}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;

  &__bar {
    background-color: $text-color-ligth1;
    width: $width;
    height: $height;
    border-radius: $height/2;
    position: relative;

    &:after,
    &:before {
      content: '';
      background-color: $text-color-ligth1;
      position: absolute;
      display: block;
      width: $width;
      height: $height;
      border-radius: $height/2;
      top: -.5em;
    }

    &:after {
      top: .5em;
    }
  }
}


.menu {
  background-color: $text-color-dark1;
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: 0;
  transform: translateX(-100%);
  transition: transform .3s;

  @include tablet {
    display: flex;
    justify-content: space-evenly;
    transform: translateX(0);
    height: 100%;
  }

  &__show {
    height: 100%;
    transform: translateX(100%);
    transform: translateX(0);
  }

  &__item {
    padding: .2em .2em .5em .2em;
    border-bottom: 1px solid $text-color-ligth1;
    font-size: 18px;

    @include tablet {
      border-bottom: none;
      font-size: 18px;

      &:hover {

        & a {
          color: $text-color-ligth2;
        }
      }
    }

    @include laptor {
        font-size: 21px;

    }

    @include desktop {
        font-size: 28px;

    }

    &--active {
      font-weight: bold;
    }
  }

  &__link {
    display: flex;
    color: $text-color-ligth1;
    text-decoration: none;
  }

}
