<header class="header">

  <div class="top-bar">
    <div class="icon-menu" id="icon-menu" (click)="clickMenuResponsive(pulseBtnMenu)">
      <div class="icon-menu__bar"></div>
    </div>
  </div>
  <nav>
    <ul class="menu" id="main-menu" [class.menu__show] = pulseBtnMenu>
      <li class="menu__item"><a [routerLink]="['/inicio']" routerLinkActive="menu__item--active" class="menu__link">Inicio</a></li>
      <li class="menu__item"><a [routerLink]="['/sobre_mi']" routerLinkActive="menu__item--active" href="#" class="menu__link">Sobre Mi</a></li>
      <li class="menu__item"><a [routerLink]="['/cv']" routerLinkActive="menu__item--active" href="#" class="menu__link">Curriculum</a></li>
      <li class="menu__item"><a [routerLink]="['/app']" routerLinkActive="menu__item--active" href="#" class="menu__link">App Web</a></li>
      <li class="menu__item"><a [routerLink]="['/contacto']" routerLinkActive="menu__item--active" href="#" class="menu__link">Contacto</a></li>
    </ul>
  </nav>
</header>
