@import "../../styles/mixins/breakpoint.scss";
@import "../../styles/config/fonts.scss";
@import "../../styles/config/colors.scss";

.slider-component .slider .picsum-img-wrapper {
  text-align: center !important;
}

.slider-component .slider .picsum-img-wrapper img {
  width: 100%;
  height: 230px !important;
  height: 230px !important;

  @include tablet {
    height: 370px !important;
    height: 370px !important;
  }

  @include laptor {
    height: 450px !important;
    height: 450px !important;
  }

  @include desktop {
    height: 600px !important;
    height: 600px !important;

  }
}
