<div *ngIf="spinner">
  <app-spinner> </app-spinner>
</div>
<div class="box-app-crud" *ngIf="!spinner">
  <div class="btn-cerrar-session">
    <a [routerLink]="['/app']" (click)="cerrarSesion()" class="btn-cerrar-session__item">cerrar sesión</a>
  </div>

  <div class="boxopt">
    <div class="boxopt__option">
      <div class="btn boxopt__option-item">
        <label for="1">
          <input type="radio" id="1" name="selector" (change)="changeRadio($event)" checked="checked">
          {{text.crud.buscar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="2">
          <input type="radio" id="2" name="selector" (change)="changeRadio($event)">
          {{text.crud.insertar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="3">
          <input type="radio" id="3" name="selector" (change)="changeRadio($event)">
          {{text.crud.editar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="4">
          <input type="radio" id="4" name="selector" (change)="changeRadio($event)">
          {{text.crud.borrar}}
          <span></span>
        </label>
      </div>
    </div>
  </div>

  <div class="crud">
    <p class="crud__intro">{{text.crud.intro}}</p>
    <div class="crud__form" [ngSwitch]="radioSelect">

      <div *ngSwitchCase="'1'">
        <h3>{{text.crud.buscar}}</h3>
        <div class="crud__cruadro">

          <div class="crud__item">
            <p>{{text.crud.eligeOpcion}}</p>
            <label for="id">
              <input type="radio" id="id" name="buscar" (change)="changeRadioBuscar($event)" checked="checked">
              {{text.crud.buscarId}}
              <span></span>
            </label>
            <label for="name">
              <input type="radio" id="name" name="buscar" (change)="changeRadioBuscar($event)">
              {{text.crud.buscarNombre}}
              <span></span>
            </label>

          </div>

          <div class="crud__item">

            <form class="form-crud" [formGroup]="formBuscar" (ngSubmit)="onSubmitBuscar()">
              <div class="form-crud__item">
                <p *ngIf="radioBuscar == 'id'">{{text.crud.msgBuscarId}}</p>
                <p *ngIf="radioBuscar == 'name'">{{text.crud.msgBuscarNombre}}</p>
                <input type="text" formControlName="resp" maxlength="10">
                <span class="form-crud__item--spanerror"
                  *ngIf="formBuscar.get('resp').hasError('required') && formBuscar.get('resp').touched">{{text.crud.msgErrorFormRequired}}</span>
                  <span class="form-crud__item--spanerror"
              *ngIf="radioBuscar == 'id' && msgErrorFormat">{{text.crud.msgErrorFormFormat}}</span>
              </div>
              <div class="form-crud__item">
                <button class="btn form-crud__btn" type="submit">{{text.crud.buscar}}</button>
              </div>
              <!-- <span class="crud--valid" *ngIf="validGlobal">{{text.crud.msgValid}}</span> -->
              <span class="crud--error" *ngIf="msgError">{{text.crud.msgError}}</span>
              <span class="crud--error" *ngIf="msgNoFound">{{text.crud.msgNoFound}}</span>
            </form>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'2'" class="crud-insertar">
        <h3>{{text.crud.insertar}}</h3>
        <p>{{text.crud.msgInsertar}}</p>

        <form class="form-crud crud__cruadro" [formGroup]="formInsert" (ngSubmit)="onSubmitInsert()">
          <div class="form-crud__item">
            <p>{{text.crud.nombre}}</p>
            <input type="text" formControlName="nombre" maxlength="10">
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('nombre').hasError('required') && formInsert.get('nombre').touched">{{text.crud.msgErrorFormRequired}}</span>
          </div>

          <div class="form-crud__item">
            <p>{{text.crud.apellidos}}</p>
            <input type="text" formControlName="apellidos" maxlength="15">
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('apellidos').hasError('required') && formInsert.get('apellidos').touched">{{text.crud.msgErrorFormRequired}}</span>
          </div>

          <div class="form-crud__item">
            <p>{{text.crud.email}}</p>
            <input type="text" formControlName="email" maxlength="20">
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('email').hasError('required') && formInsert.get('email').touched">{{text.crud.msgErrorFormRequired}}</span>
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('email').hasError('email') && formInsert.get('email').touched">{{text.crud.msgErrorFormFormat}}</span>
          </div>

          <div class="form-crud__item">
            <p>{{text.crud.tlfn}}</p>
            <input type="number" formControlName="telefono" maxlength="9">
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('telefono').hasError('required') && formInsert.get('telefono').touched">{{text.crud.msgErrorFormRequired}}</span>
            <span class="form-crud__item--spanerror"
              *ngIf="formInsert.get('telefono').hasError('pattern') && formInsert.get('telefono').touched">{{text.crud.msgErrorFormFormat}}</span>
          </div>

          <div class="form-crud__item">
            <button class="btn form-crud__btn" type="submit">{{text.crud.insertar}}</button>
          </div>
          <span class="crud--valid" *ngIf="validGlobal">{{text.crud.msgValid}}</span>
          <span class="crud--error" *ngIf="msgError">{{text.crud.msgError}}</span>
          <span class="crud--error" *ngIf="msgNoFound">{{text.crud.msgNoFound}}</span>
        </form>

      </div>

      <div *ngSwitchCase="'3'" class="crud-editar">
        <h3>{{text.crud.editar}}</h3>
        <div class="crud__cruadro">
          <form class="form-crud" [formGroup]="formBuscar" (ngSubmit)="onSubmitBuscar()">
            <div class="form-crud__item">
              <p>{{text.crud.msg1Editar}}</p>
              <input type="text" formControlName="resp" maxlength="10" (change)="disabledInsert()">
              <span class="form-crud__item--spanerror"
              *ngIf="msgErrorFormat">{{text.crud.msgErrorFormFormat}}</span>
              <span class="form-crud__item--spanerror"
                *ngIf="formBuscar.get('resp').hasError('required') && formBuscar.get('resp').touched">{{text.crud.msgErrorFormRequired}}</span>
            </div>
            <div class="form-crud__item">
              <button class="btn form-crud__btn" type="submit">{{text.crud.cargar}}</button>
            </div>
          </form>

          <form class="form-crud" [formGroup]="formEditar" (ngSubmit)="onSubmitEditar()">
            <div class="form-crud__item">
              <p>{{text.crud.nombre}}</p>
              <input type="text" formControlName="nombre" maxlength="10">
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('nombre').hasError('required') && formEditar.get('nombre').touched">{{text.crud.msgErrorFormRequired}}</span>
            </div>

            <div class="form-crud__item">
              <p>{{text.crud.apellidos}}</p>
              <input type="text" formControlName="apellidos" maxlength="15">
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('apellidos').hasError('required') && formEditar.get('apellidos').touched">{{text.crud.msgErrorFormRequired}}</span>
            </div>

            <div class="form-crud__item">
              <p>{{text.crud.email}}</p>
              <input type="text" formControlName="email" maxlength="20">
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('email').hasError('required') && formEditar.get('email').touched">{{text.crud.msgErrorFormRequired}}</span>
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('email').hasError('email') && formEditar.get('email').touched">{{text.crud.msgErrorFormFormat}}</span>
            </div>

            <div class="form-crud__item">
              <p>{{text.crud.tlfn}}</p>
              <input type="number" formControlName="telefono" maxlength="9" [disabled]="disableInsert">
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('telefono').hasError('required') && formEditar.get('telefono').touched">{{text.crud.msgErrorFormRequired}}</span>
              <span class="form-crud__item--spanerror"
                *ngIf="formEditar.get('telefono').hasError('pattern') && formEditar.get('telefono').touched">{{text.crud.msgErrorFormFormat}}</span>
            </div>

            <div class="form-crud__item">
              <button class="btn form-crud__btn" type="submit"
                *ngIf="!disableInsert">{{text.crud.editar}}</button>
            </div>
            <span class="crud--valid" *ngIf="validGlobal">{{text.crud.msgValid}}</span>
            <span class="crud--error" *ngIf="msgError">{{text.crud.msgError}}</span>
            <span class="crud--error"  *ngIf="msgNoFound">{{text.crud.msgNoFound}}</span>
          </form>


        </div>
      </div>

      <div *ngSwitchCase="'4'" class="crud-borrar">
        <h3>{{text.crud.borrar}}</h3>
        <div class="crud__item crud__cruadro">


          <form class="form-crud" [formGroup]="formBorrar" (ngSubmit)="onSubmitBorrar()">
            <div class="form-crud__item">
              <p>{{text.crud.msgBorrar}}</p>
              <input type="text" formControlName="id" maxlength="10">
              <span class="form-crud__item--spanerror" *ngIf="msgErrorFormat">{{text.crud.msgErrorFormFormat}}</span>
              <span class="form-crud__item--spanerror"
                *ngIf="formBorrar.get('id').hasError('required') && formBorrar.get('id').touched">{{text.crud.msgErrorFormRequired}}</span>
            </div>
            <div class="form-crud__item">
              <button class="btn form-crud__btn" type="submit">{{text.crud.borrar}}</button>
            </div>
            <span class="crud--valid" *ngIf="validGlobal">{{text.crud.msgValid}}</span>
            <span class="crud--error" *ngIf="msgError">{{text.crud.msgError}}</span>
            <span class="crud--error"  *ngIf="msgNoFound">{{text.crud.msgNoFound}}</span>
          </form>
        </div>

      </div>
    </div>

    <div class="box-tabla">
      <h3>{{text.crud.tablaName}}</h3>
      <!-- <p *ngIf="listRow.length <= 0">{{text.crud.msgTablaVacia}}</p> -->
      <span class="crud--error" *ngIf="!validTable">{{text.crud.msgErrorTabla}}</span>
      <table class="table crud__cruadro">
        <thead>
          <tr>
            <th scope="col" *ngFor="let colum of columnas">{{colum.titulo}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of listRow">
            <th scope="row">{{client.id}}</th>
            <td>{{client.nombre}}</td>
            <td>{{client.apellidos}}</td>
            <td>{{client.email}}</td>
            <td>{{client.n_telefono}}</td>
          </tr>
        </tbody>
      </table>

      <div class="form-crud__item">
        <button class="btn form-crud__btn" type="button" (click)="actualizarTabla()">{{text.crud.updateTabla}}</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
