@import "../../../../styles/mixins/breakpoint.scss";
@import "../../../../styles/config/fonts.scss";
@import "../../../../styles/config/colors.scss";

.box-app-crud {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn-cerrar-session {
  display: flex;
  background-color: $text-color-dark1;
  color: $text-color-ligth1;
  align-items: center;

  .btn-cerrar-session__item {
    text-decoration: none;
    padding: .5em;
    color: $text-color-ligth1;
  }
}

.boxopt {

  &__option {
    width: 100%;
    background-color: $text-color-ligth1;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 1.5em;

    &-item {
      font-size: 22px;
      font-weight: 500;
      text-transform: capitalize;
      display: inline;
      vertical-align: middle;
      color: $text-color-dark1;
      position: relative;
      padding-left: 20px;


      @media screen and (min-width: 376px) and (max-width: 425px) {

        font-size: 16px;
        padding-left: 18px;
      }

      @media screen and (max-width: 375px) {
        font-size: 12px;
        padding-left: 16.5px;
      }

      & input[type="radio"] {
        display: none;
      }

      & span {
        cursor: pointer;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 3px solid $text-color-dark1;
        display: block;
        position: absolute;
        left: 0;
        top: 17px;

        // margin: 1em;
        @media screen and (min-width: 376px) and (max-width: 425px) {
          top: 10px;
        }

        @media screen and (max-width: 375px) {
          top: 8px;
        }
      }

      & span:after {
        content: "";
        height: 8px;
        width: 8px;
        background-color: $text-color-dark1;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        transition: 300 ease-in-out 0s;
      }

      & input[type="radio"]:checked~span:after {
        transform: translate(-50%, -50%) scale(1);
      }

    }

    &-item+&-item {
      margin-left: 18px;
    }


  }
}

.crud {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;

  @include laptor {
    width: 70%;
  }


  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    &>p {
      margin: 0;
    }

    &>p {
      margin: 0;
    }

  }


  &__cruadro {
    margin-bottom: 1.7em;
    border: 1px solid $text-color-ligth1;
    border-radius: 2%;
    padding: 1em;
  }

  &-editar {}

  &-borrar {}

  &__input {
    @include tablet {
      width: 40%;
    }

    @include tablet {
      width: 30%;
    }
  }

  &--error {
    color: red;
  }

}

.btn-crud {
  background-color: $text-color-ligth1;
  margin: .6em 0;
}

.tabla {
  & __scroll {
    // width: 100%;
    // overflow-x: auto;

    @include mobile {
      display: block;
      overflow-x: auto;
    }
  }

  & .tbody {
    width: 100%;
    overflow-x: auto;
  }
}


.form-crud {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 1em;

    & h1,
    p {
      margin: 0;
    }

    & input {
      width: 100%;
      // border: none; 
      border: 1px solid $text-color-ligth1;
    }
    & input[type=submit] {
      width: auto;
    }

    & textarea {
      width: 100%;
      // min-width: 100%;
      // border: none; 
      border: 1px solid $text-color-ligth1;
    }

    &--spanerror {
      color: red;
    }

    &--boxerror {
      border-color: red;
    }

  }


  &__btn {
    background-color: $text-color-ligth1;
  }

}
