<div class="box-app-crud">
  <div class="btn-cerrar-session">
    <a href="" class="btn-cerrar-session__item">cerrar sesión</a>
  </div>

  <div class="boxopt">
    <div class="boxopt__option">
      <div class="btn boxopt__option-item">
        <label for="1">
          <input type="radio" id="1" name="selector" (change)="changeRadio($event)" checked="checked">
          {{text.crud.buscar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="2">
          <input type="radio" id="2" name="selector" (change)="changeRadio($event)">
          {{text.crud.insertar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="3">
          <input type="radio" id="3" name="selector" (change)="changeRadio($event)">
          {{text.crud.editar}}
          <span></span>
        </label>
      </div>
      <div class="btn boxopt__option-item">
        <label for="4">
          <input type="radio" id="4" name="selector" (change)="changeRadio($event)">
          {{text.crud.borrar}}
          <span></span>
        </label>
      </div>
    </div>
  </div>

  <div class="crud">
    <div class="crud__form" [ngSwitch]="radioSelect">

      <div *ngSwitchCase="'1'" class="crud-buscar">
        <h3>{{text.crud.buscar}}</h3>

        <div class="crud__item">
          <p>{{text.crud.eligeOpcion}}</p>
          <label for="id">
            <input type="radio" id="id" name="buscar" (change)="changeRadioBuscar($event)" checked="checked">
            {{text.crud.buscarId}}
            <span></span>
          </label>
          <label for="name">
            <input type="radio" id="name" name="buscar" (change)="changeRadioBuscar($event)">
            {{text.crud.buscarNombre}}
            <span></span>
          </label>

        </div>

        <div class="crud__item" *ngIf="radioBuscar == 'id'">
          <p>{{text.crud.msgBuscarId}}</p>
          <input class="crud__input" type="number" maxlength="10" [(ngModel)]="resptBuscar">
          <span class="crud--error" *ngIf="errorGlobal==msgError">{{text.crud.msgError}}</span>
          <span class="crud--error" *ngIf="errorGlobal==msgNoFound">{{text.crud.msgNoFound}}</span>
          <div class="crud__btn">
            <button class="btn btn-crud" (click)="buscarId()">{{text.crud.buscar}}</button>
          </div>
        </div>
        <div class="crud__item" *ngIf="radioBuscar == 'name'">
          <p>{{text.crud.msgBuscarNombre}}</p>
          <input class="crud__input" type="text" maxlength="45" [(ngModel)]="resptBuscar">
          <span class="crud--error" *ngIf="errorGlobal==msgError">{{text.crud.msgError}}</span>
          <span class="crud--error" *ngIf="errorGlobal==msgNoFound">{{text.crud.msgNoFound}}</span>
          <div class="crud__btn">
            <button class="btn btn-crud" (click)="buscarName()">{{text.crud.buscar}}</button>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'2' || '3'" class="crud-insertar">Two is Selected</div>

      <!-- <div *ngSwitchCase="'3'" class="crud-editar">3 is Selected</div> -->

      <div *ngSwitchCase="'4'" class="crud-borrar">
        <h3>{{text.crud.borrar}}</h3>
        <div class="crud__item">
          <p>{{text.crud.msgBuscarNombre}}</p>
          <input class="crud__input" type="text" maxlength="45" [(ngModel)]="resptBorrar">
          <span class="crud--error" *ngIf="errorGlobal==msgError">{{text.crud.msgError}}</span>
          <span class="crud--error" *ngIf="errorGlobal==msgNoFound">{{text.crud.msgNoFound}}</span>
          <div class="crud__btn">
            <button class="btn btn-crud" (click)="borrarId()">{{text.crud.borrar}}</button>
          </div>
        </div>

      </div>
      <div>
        <!-- <p>{{text.contrasena}}</p>
        <input type="text" formControlName="pass" maxlength="5">
        <span class="crud__item--spanerror"
          *ngIf="formLogin.get('pass').hasError('required') && formLogin.get('pass').touched">ee</span> -->
      </div>
    </div>
    <app-mostrar-tabla></app-mostrar-tabla>
  </div>
  <app-footer></app-footer>
</div>
